body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* sections */
.colored-section
{
  background-color: #ff4c68;
  color: #fff;
}

.white-section
{
    background-color: #fff;
}

/* navigation bar */

#title.container-fluid {
  padding: 3% 15% 7%;
    text-align: left;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-light", sans-serif;
}

/* Download Buttons */
.download-Button {
  margin: 5% 3% 5% 0;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  left: 100px;
}

@media (max-width:1028px) {
  .title-image {
    position: static;
    transform: none;
  }
  #title {
    text-align: center;
  }
}

/* feature contant */
.features-img {
  font-size: 4rem;
  color: #ef8172;
  padding-bottom: 1rem;
}

.features-img:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5% 5%;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#features {
  position: relative;
}

/* testimonial section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 7% 9%;
}

.pricing-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5
}

.dog-names {
  font-size: 1.5rem;
  font-weight: bold;
}

.pricing-column {
  padding: 30px;
}

/* cta section */

/* footer section */
.social-icons {
  margin: 20px 10px;
}
